body {
    font-family: "Open Sans";
    background-color: black;
    color: white;
}

h1 {
    font-weight: 400;
}

h3 {
    font-weight: 300;
}

.header {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

#iconpic {
    padding-top: 25px;
    width: 20%;
    border-radius: 50%;
}

.container {
    font-weight: 300;
    width: 100%;
}

.container p {
    margin-left: 25px;
    margin-right: 25px;
}